.card {
  width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-family: "Poppins-regular", Arial, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  display: -webkit-box;
  overflow: hidden;
  /* Having a hard time with getting the 4th card title to size correctly. Hope this is a good fix. */
  white-space: nowrap;
  text-wrap-mode: wrap;
  -webkit-line-clamp: 1;
  flex-shrink: 6;
  -webkit-box-orient: vertical;
  max-width: 100%;
}

.card__like-btn {
  background-image: url("../images/heart.svg");
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
}

.card__like-btn:hover {
  color: #212121cc;
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .card {
    width: 288px;
  }
  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__title {
    font-size: 16px;
  }
}
