.footer {
  padding: 60px 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins-regular";
  font-weight: 400;
  font-size: 16px;
  opacity: 70%;
}
