.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px solid #212121;
}
.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__add-btn {
  margin-left: auto;
  max-width: 1280px;
  padding: 0;
}
.profile__avatar {
  margin-right: 20px;
}

.profile__add-btn img {
  padding: 0;
  margin: 0;
}
/* .edit__profile-accent {
  color: #fff;
} */
.profile__name {
  padding: 0;
  margin: 0 0 12px;
}
.profile__description {
  margin: 0;
}
.profile__edit-btn {
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: auto;
  background-color: transparent;
  border: none;
  gap: 8px;
}
