.profile {
  display: flex;
}
.profile__avatar {
  padding: 0;
  margin-right: 20px;
}
.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__add-btn {
  display: flex;
  margin-left: auto;
  margin-top: 128px;
  max-width: 149px;
  height: 52px;
  padding: 18px 24px 18px 52px;
  border-radius: 8px;
  border: none;
  gap: 8px;
  background-color: #000;
}
.profile__add-btn img {
  background-color: tomato;
  padding: 0;
}
.edit__profile-accent {
  color: #fff;
}
.profile__name {
  padding: 0;
  margin: 0 0 12px;
}
.profile__description {
  padding: 0;
  margin: 0;
}
.profile__edit-btn {
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: auto;
  background-color: transparent;
  border: none;
  gap: 8px;
}
